# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dist Vite
dist/
dist-ssr/
*.local

# Capacitor build output
android/
ios/
app/build/

# Environment variables
.env
.env.local
.env.*.local

# Log files
*.log

# MacOS
.DS_Store

# VSCode
.vscode/
.idea/

# Output builds
build/
www/
